.button {
    background-color: #f81769;
    padding: 8px 20px;
    width: 100%;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.5rem;
    border-radius: 10px;
}

.button:focus,
.button:active,
.button:hover {
    background-color: #e01b63;
}
