#loading {
    width: 150px;
    height: 150px;
    border: 10px solid transparent;
    border-top: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
