.advanceButton {
    background-color: transparent;
    background-image: -webkit-image-set(
        url('/dev-react-vortigo/images/next.png') 1x,
        url('/dev-react-vortigo/images/nextg@2x.png') 2x,
        url('/dev-react-vortigo/images/next@3x.png') 3x
    );
    background-image: image-set(
        url('/dev-react-vortigo/images/next.png') 1x,
        url('/dev-react-vortigo/images/nextg@2x.png') 2x,
        url('/dev-react-vortigo/images/next@3x.png') 3x
    );
    background-image: url('/dev-react-vortigo/images/next.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: opacity;
    height: 50px;
    width: 50px;
}

.advanceButton:hover,
.advanceButton:focus,
.advanceButton:active {
    opacity: 0.75;
}